@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap);

body, main {
    font-family: 'Roboto', sans-serif;
    max-width: 80vh
}

ul, ol{
    background-color: hsl(0, 0%, 88%);
}

.desc{
    background-color: hsl(0, 0%, 88%);
}

.container {
    max-width: 85vh;
    background-color: hsl(0, 0%, 88%);
    font-family: 'Roboto Mono','Consolas';
}

.result {
    max-width: 85vh;
    background-color: hsl(0, 0%, 88%);
    font-family: 'Roboto Mono', 'Consolas';
}

.example {
    background-color: hsl(0, 0%, 88%);
    font-family: 'Roboto Mono','Consolas';
}